<div class="container">
  <div class="loginTitle">
    <h1>Fill form below to login.</h1>
  </div>
  <div class="loginForm">
    <form>
      <mat-form-field>
        <input [(ngModel)]="loginData.email" name="email" matInput placeholder="Email" type="email">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="loginData.password" name="password" matInput placeholder="Password" type="password">
      </mat-form-field>
      <button class="button arrow" (click)="post()" routerLink="/">Login</button>
    </form>
  </div>
</div>