<div class="nav">
    <h3 class="siteName" routerLink="/">NetWuGo</h3>
    <button class="users" mat-button routerLink="/users">Users</button>
    <div class="authButtons">
        <button class="register" mat-button *ngIf="!authService.isAuthenticated" routerLink="/register">Register</button>
        <button class="login" mat-button *ngIf="!authService.isAuthenticated" routerLink="/login">Login</button>
        <p class="logoutUser" *ngIf="authService.isAuthenticated">Hi {{this.authService.username}},</p><p class="logout" *ngIf="authService.isAuthenticated" (click)="authService.logout()">Logout?</p>
    </div>
</div>