.nav {
    background: #202528;
    color: #fff;
    height: 3.5em;
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.nav:hover {
    opacity: 0.9;
}

.nav button {
    height: 100%;
    font-family: 'Work Sans';
    font-size: 16px;
}

.nav button:hover {
    background: #297fca;
}

.siteName {
    margin: 0 1% 0 1%; 
    float: left;
    font-size: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.siteName:hover {
    cursor: pointer;
    color: #6eaadf;
}

.siteName:focus {
    outline: none;
}

.authButtons {
    height: 100%;
    float: right;
    margin-right: 1%;
}

.authButtons p {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.register {
    
}

.login {
   
}

.logout:hover {
    color: #3F51B5;
    cursor: pointer;
}

.logoutUser {
    padding-right: 5px;
}