.headWelcome {
    position: relative;
    height: 400px;
}

.headTitle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.first {
    background: #297fca;
    color: #fff;
    width: 10%;
    margin: 0 auto;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.second {
    margin: 0 auto;
    background: black;
    color: #fff;
    width: 30%;
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 5px;
    padding-top: 5px;
}

