<div class="container">
  <div class="registerTitle">
    <h1>Fill form below to register.</h1>
  </div>
  <div class="registerForm">
    <form>
      <mat-input-container>
        <input [(ngModel)]="registerData.firstname" name="firstname" matInput placeholder="Firstame">
      </mat-input-container>
      <mat-input-container>
        <input [(ngModel)]="registerData.surname" name="surname" matInput placeholder="Surname">
      </mat-input-container>
      <br>
      <mat-input-container>
        <input [(ngModel)]="registerData.email" name="email" matInput placeholder="Email" type="email">
      </mat-input-container>
      <mat-input-container>
        <input [(ngModel)]="registerData.password" name="password" matInput placeholder="Password" type="password">
      </mat-input-container>
      <br>
      <mat-input-container class="desc">
        <textarea [(ngModel)]="registerData.description" name="description" matInput placeholder="Description"></textarea>
      </mat-input-container>
      <br>
      <button class="button arrow" (click)="post()">Register</button>
    </form>
  </div>
</div>
